<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>SOME TODO LIST</h1>
  <h3>FROM RUBY GARAGE</h3>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>

</div>