<% provide(:title, 'Editing User') %>
<h1>Editing User</h1>
<h4><%= @user.email %></h4>

<div class="center hero-unit">
  <div class="row">
    <section>
      <%= render 'form' %>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', users_path %>
    </section>
  </div>
</div>