// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.list-header {
  margin-top: 5px;
  background: #554BAC;
  border: 1px solid #315589;
  border-radius: 1px 2px 0 0;
}

.edit-list {
  display: inline-block;
  vertical-align: inherit;
}

.task-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  text-shadow:0 1px 0 #fff;
  width: 560px;
  margin: 13px 0;
}

.line {
  vertical-align: middle;
  display: inline-block;
  border-right: 1px solid #bf5a22;
  height: 10px;
  margin: 5px;
}

