<footer class="footer" >
  <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
  <small>
    @ Ruby Garage new
  </small>

  <nav>
    <ul>
      <li>developed by <a href="#" target="_blank">Maxym Mazurkevych</a></li>
    </ul>
  </nav>
</footer>


