<footer class="footer" >
  <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
  <small>
    @ Ruby Garage
  </small>

  <nav>
    <ul>
      <li>developed by <a href="https://github.com/mamax/todolist_scaffold" target="_blank">Maxym Mazurkevych</a></li>
    </ul>
  </nav>
</footer>


